.article-card {
  position: relative;
  display: inline-block;
  max-width: 400px;
  background-color: #fff;
  margin-bottom: 1.6rem;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.article-card .card-image {
  height: 100px;
  background-color: #eee;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.article-card .card-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.article-card .card-content {
  position: relative;
}
.article-card .card-content .card-share {
  float: right;
  position: relative;
  margin-top: -25px;
}
.article-card .card-content .card-share a.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  color: #eee;
}
.article-card .card-content .card-share a.share-icon:hover,
.article-card .card-content .card-share a.share-icon:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.article-card .card-content .card-share .card-share-options {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
  transform: translateZ(0) translateX(0px);
  transition: transform 0.35s ease;
}
.article-card .card-content .card-share .card-share-options .facebook {
  background-color: #3b5998;
}
.article-card .card-content .card-share .card-share-options .twitter {
  background-color: #00abe3;
}
.article-card .card-content .card-share .card-share-options .googleplus {
  background-color: #d3492c;
}
.article-card .card-content .card-share .card-share-options.active {
  visibility: visible;
  transform: translateZ(0) translateX(-48px);
  transition: transform 0.36s ease;
}
.article-card .card-content .card-share a.share-toggle {
  z-index: 2;
}
.article-card .card-content .card-share a.share-toggle::before {
  content: "\f1e0";
  font-family: "FontAwesome";
  color: #3498db;
}
.article-card .card-content .card-share a.share-toggle.share-expanded::before {
  content: "\f00d";
}
.article-card .card-content .card-header time {
  font-size: 0.75em;
  color: #bbb;
  margin-left: 0.8rem;
}
.article-card .card-content article {
  padding: 1.6rem;
}
.article-card .card-content article h2 a {
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease;
}
.article-card .card-content article h2 a:hover {
  color: #2980b9;
}
.article-card .card-content .card-footer {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}
.article-card .card-content .card-footer span {
  display: inline-block;
  vertical-align: middle;
}