@bgShade: rgba(255, 255, 255, 0.85);
html.no-webp {
  body {
    background: url('/images/background.png') no-repeat fixed !important;
    background-position: center top !important;
    background-size: cover !important;
  }
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  display: grid;
  grid-template-areas: "siteNav siteNav siteNav" "asideAd main sideNav" "footer footer footer";
  grid-template-columns: 300px calc(100vw - (300px * 2)) 300px;
  grid-template-rows: 50px calc(100vh - (50px + 50px)) 50px;
  grid-gap: 0px;
  background: url('/images/background.webp') no-repeat fixed;
  background-position: center top;
  background-size: cover;
  color: initial; /*#e1e1e1;*/


  > nav:first-of-type:not(:last-of-type) {
    grid-area: siteNav;
  }

  > main {
    grid-area: main;
    overflow: auto;
    background: @bgShade;
    padding: 3px;

    .jumbotron {
      background: none;
      background: linear-gradient(transparent, rgba(255,255,255, 0.6));
      margin-bottom: 0px;

      h1 {
        text-align: center;
      }

      p {
        position: relative;
        display: block;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.25em;
      }
    }
  }

  > aside {
    grid-area: asideAd;
    background: @bgShade;
  }

  > nav:last-of-type:not(:first-of-type) {
    grid-area: sideNav;
    overflow: auto;
    background: @bgShade;
  }

  > footer {
    grid-area: footer;
    background: @bgShade;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 0px calc(100vw - 50px) 50px;
    grid-template-rows: 54px calc(100vh - (54px + 25px)) 25px;
  }
}

a {
  color: #00B7FF;
}

/* UI Tiles w/ Images */
ul.tiles {
  position: relative;
  display: ms-flexbox;
  display: flex;
  display: -webkit-flexbox;
  -webkit-flex-wrap: wrap;
  flex-wrap: warp;
  list-style: none;
  margin: 0px;
  padding: 10px;

  > li {
    position: relative;
    display: block;
    width: 20%;
    min-width: 225px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background:none;
    /*margin-left: 10px;*/
    margin-top: 10px;
    padding: 5px;
    transition: all 0.35s ease;

    &:hover {
      box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
    }

    > a {
      > picture {
        position: relative;
        display: block;

        > img {
          position: relative;
          display: block;
          height: 100px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      > span {
        position: relative;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        font-weight: 600;
        text-align: center;
        line-height: 1em;
        vertical-align: middle;
        color: #192851;
      }
    }
  }
  &.md{
    > li{
      min-width: 75px;

      img{
        height: 75px;
      }
    }
  }
  &.sm{
    > li{
      min-width: 50px;

      img{
        height: 50px;
      }
    }
  }
}

/* Logo */
@padSize: 30px;
@defaultH: 195;
@defaultS: 100%;
@startL: 37%;
@stepL: 3%;

.logo {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  --ohue: @defaultH;
  --hue: @defaultH;
  --sat: @defaultS;
  --lit: @startL;
  --padSize: @padSize;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;

  &:hover {
    --hue: calc(var(--ohue) + 50) !important;
  }
  /* Set Class-driven hue changes */
  .logo-hue-x(@idx) when (@idx > 0) {
    &.logo-hue-@{idx} {
      --hue: @idx;
      --ohue: @idx;
    }

    .logo-hue-x(@idx - 5);
  }

  .logo-hue-x(255);

  h1 {
    position: relative;
    display: inline-block;
    width: calc(98% - var(--padSize));
    height: var(--padSize);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(var(--padSize) * 0.5);
    line-height: calc(var(--padSize) * 1.1);
    vertical-align: middle;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
    padding: 0px;
    margin: 0px;
    float: left;
  }

  i, h1 {
    text-decoration: none;
    --opH: calc(255 - var(--hue));
    --opS: var(--sat);
    --opL: var(--lit);
    background: -webkit-radial-gradient( hsl(calc(var(--opH) * 0.8), var(--opS), calc(var(--opL) * 0.8)), hsl(var(--opH), var(--opS), var(--opL)), hsl(calc(var(--opH) * 1.1), var(--opS), calc(var(--opL) * 1.1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.35s ease-in-out;
  }
}

.dpad:first-child:not(:last-child), .dpad:last-child:not(:first-child) {
  /* Doesn't apply when DPad is the only element in the container */
  float: left;
}

.dpad {
  .dpad-xpos(@top,@left) {
    top: ~"calc((100% / 3) * @{top})";
    left: ~"calc((100% / 3) * @{left})";
  }

  .dpad-bgc(@h,@s,@l) {
    background-color: hsl(@h, @s, @l);
  }

  position: relative;
  display: inline-block;
  width: var(--padSize);
  height: var(--padSize);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px #325EA2;

  a {
    text-decoration: none;
    color: black;
  }

  &.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pad {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 10;
    clip-path: circle(~"calc(var(--padSize) / 2)" at center);
    padding: 0px;

    .dpad-ul {
      .dpad-xpos(0,0);
      @l: calc(@startL + (@stepL * 0));
      --lit: @l;
    }

    .dpad-u {
      .dpad-xpos(0,1);
      @l: calc(@startL + (@stepL * 1));
      --lit: @l;
    }

    .dpad-ur {
      .dpad-xpos(0,2);
      @l: calc(@startL + (@stepL * 2));
      --lit: @l;
    }

    .dpad-l {
      .dpad-xpos(1,0);
      @l: calc(@startL + (@stepL * 1));
      --lit: @l;
    }

    .dpad-c {
      .dpad-xpos(1,1);
      @l: calc(@startL + (@stepL * 4));
      --lit: @l;
    }

    .dpad-r {
      .dpad-xpos(1,2);
      @l: calc(@startL + (@stepL * 3));
      --lit: @l;
    }

    .dpad-dl {
      .dpad-xpos(2,0);
      @l: calc(@startL + (@stepL * 2));
      --lit: @l;
    }

    .dpad-d {
      .dpad-xpos(2,1);
      @l: calc(@startL + (@stepL * 4));
      --lit: @l;
    }

    .dpad-dr {
      .dpad-xpos(2,2);
      @l: calc(@startL + (@stepL * 3));
      --lit: @l;
    }

    [class*='dpad-'] {
      position: absolute;
      display: block;
      width: calc(var(--padSize) / 3);
      height: calc(var(--padSize) / 3);
      background-color: hsl(var(--hue), var(--sat), calc(((100 - var(--lit)) / 2) + var(--lit)));
      .dpad-bgc(var(--hue), var(--sat), ~"calc(var(--lit) - ((100% - var(--lit)) / 2))");
      font-size: calc((var(--padSize) / 3) * 0.75);
      line-height: calc(var(--padSize) / 3);
      text-align: center;
      vertical-align: middle;
      text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.25);
      transition: all 0.35s ease-in-out;

      i {
        transition: transform 0.35s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
