extends ../_sitelayout

block append styles
  //link(rel='stylesheet', href='/Pokemon/css/Pokemon.min.css?v=1.8.9')
  style(type='text/css')
    include ../../public/Pokemon/css/Pokemon.min.css
  link(rel='preload', href='/PokeApi/api/v2/pd/1/index.json', as='fetch')
  style(type='text/css').
    .wash-out{
        filter: grayscale(100%) opacity(50%);
    }
    div#poke-loader {
      position: fixed;
      display: none;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.85);
      z-index: 10001;
      top: 0px;
      left: 0px;
    }
    div#poke-loader::after {
      content: "";
      position: absolute;
      display: block;
      width: @loaderSize;
      height: @loaderSize;
      top: ~"calc(50% - (@{loaderSize} / 2))";
      left: ~"calc(50% - (@{loaderSize} / 2))";
      background-image: ~"url('/PokeApi/sprites/items/poke-ball.png')";
      background-size: @loaderSize @loaderSize;
      -webkit-animation: poke-ball-shake 1.25s infinite alternate;
      /* Chrome, Safari, Opera */
      animation: poke-ball-shake 1.25s infinite alternate;
      transform-origin: center;
    }
    div#poke-loader.show {
      display: block;
    }
        
block append subNav
    #pnlSearch
        div.form-group
            input.form-control#txtSearchDex(role='search', placeholder='Search National \'Dex', type='search')
        div#searchResults.pokedex
        button(type='button',aria-label='Open Search Panel', data-target='#pnlSearch', onclick='document.querySelector("#pnlSearch").classList.toggle("active");')
            i.fa.fa-search

block append content
  nav(aria-label='breadcrumb')
    ol.breadcrumb
      block breadcrumb
  div#poke-loader

block append scripts
  script(language='javascript', type='text/javascript', src='/idb/dist/js/idb.js?v=2.1.3')
  script(language='javascript', type='text/javascript', src='/Pokemon/js/Pokemon.es5.min.js?v=1.2.23')
  script(language='javascript', type='text/javascript', src='/Pokemon/js/jquery.pokedexresult.js?v=0.1')
  script(type='text/javascript',language='javascript').
    var $pokedex;
    function checkCaughtResult(){
      if (typeof(UserDex) !== "undefined" && UserDex !== null){
        var cp = UserDex.Games.Get.Pokemon();
        var nids = Object.getOwnPropertyNames(cp);
        for(var len = nids.length,n=0;n<len;n++){
          if ($("#searchResults [data-id='" + nids[n].toString() + "'] .icon-caught").length === 0){
            $("#searchResults [data-id='" + nids[n].toString() + "']").append("<i class='icon-caught'></i>");
          }
        }
      }
    }
    $(document).ready(function(){
      $(document).on("userdex.initialized", checkCaughtResult);
      $pokedex = $("#searchResults").pokedex().on("pokemon.clicked", function(e, result){
        //console.log("[_pokemonlayout] Pokemon Clicked: ", result);
      });
      // Update results if they've been caught in progression
      $("#searchResults").on("pokemon.added", function(e, result){
        var id = Number(result.getAttribute('data-id'));
        if (typeof(UserDex) !== "undefined" && UserDex !== null){
          if (UserDex.Games.Contains.Pokemon(id) && $(result).find(".icon-caught").length === 0){
            result.appendChild(document.createElement("i")).setAttribute("class", "icon-caught");
          }
        }
      });
      $("#txtSearchDex").on("keyup blur", function(ev){
        $pokedex.search(ev.currentTarget.value);
      });
      checkCaughtResult();
    });