extends _pokemonlayout

block append styles

block append content
  p.alert.alert-info Choose from the tools below or click a Pokemon to the right to view its details.
  .row(style='margin: 0px;')
    figure.col-lg-4.col-md-6.col-sm-6.col-xs-12
      a(href='/pokemon/compare/stats')
        img(src='/Pokemon/images/ComparisonChart.png').img-fluid
      figcaption Base Stats Comparison
    figure.col-lg-4.col-md-6.col-sm-6.col-xs-12
      a(href='/pokemon')
        img(src='/images/compiling.png').img-fluid
      figcaption More Coming Soon

block append scripts
  script(type='text/javascript').
    $(document).ready(function(){
      $("#searchResults").on("pokemon.clicked", function(e, result){
        console.log("\t[index] Pokemon Clicked: ", result);
        window.location = "/pokemon/" + result.getAttribute("data-name");
      });
    });