extends _pokemonlayout

block append styles
  style(type='text/css').
    #tools{
      background: linear-gradient(rgba(255,255,255, 0.6), transparent);
    }
block append breadcrumb
  // It's already been added

block append content
  .jumbotron
    h1 Welcome to Pok&#0232;Tools!
    p The Pok&#0232;mon&trade; gameplay utility site. Thanks to <a href='https://pokeapi.co/about.html' target='_blank'>Pok&#0232;API</a> for making these tools possible!
    p.alert.alert-info Choose from the tools below or click a Pokemon to the right to view its details.
  ul.tiles#tools
    li
      a(href='/pokemon/compare/stats')
        picture
          source(srcset='/Pokemon/images/ComparisonChart_100.webp', type='image/webp')
          source(srcset='/Pokemon/images/ComparisonChart_100.png', type='image/png')
          img(src='/Pokemon/images/ComparisonChart_100.png', alt='Compare Stats').img-fluid
        span Base Stats Comparison
    li
      a(href='/pokemon/progress')
        picture
          source(data-attribution='http://getdrawings.com/pokemon-ball-drawing#pokemon-ball-drawing-61.png')
          source(srcset='/Pokemon/images/Pokeball Progression_100.webp', type='image/webp')
          source(srcset='/Pokemon/images/Pokeball Progression_100.png', type='image/png')
          img(src='/Pokemon/images/Pokeball Progression_100.png', alt='Compare Stats').img-fluid
        span Game Progress Tracker
    li
      a(href='/pokemon')
        picture
          source(srcset='/images/compiling_100.webp', type='image/webp')
          source(srcset='/images/compiling_100.png', type='image/png')
          img(src='/images/compiling_100.png', alt='Coming Soon').img-fluid
        span More Coming Soon

block append scripts
  script(type='text/javascript').
    $(document).ready(function(){
      $("#searchResults").on("pokemon.clicked", function(e, result){
        console.log("\t[index] Pokemon Clicked: ", result);
        window.location = "/pokemon/" + result.getAttribute("data-name");
      });
    });