/*
    300px    ~"calc(100vw      300px
            - (300px * 2))"
_______________________________________
|          |               |          | 

+----------+---------------+----------+  --
|          |               |          |   |
|   ul     |               |          |   |
|          |               |          |   | ~"calc((100vh - (65px * 2)) / 2)
|          |               |          |   |
+----------+               +          |  --
|          |               |          |   |
| aside #1 |    section    | aside #2 |   |
|   ml     |      mc       |   mr     |   | ~"calc((100vh - (65px * 2)) / 2)
|          |               |          |   |
+----------+---------------+          +  --
|   ll     | footer        |   lr     |   |
|          |   fc          |          |   | 65px
+-------------------------------------+----------+  --
*/
@asideWidth: 300px;
@navbarHeight: 0px;
main {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "ul mc" "ml mc" "ll lcr";
  grid-template-columns: @asideWidth ~"calc(100% - @{asideWidth})";
  grid-template-rows: 1fr 1fr 50px;
  grid-gap: 0px;

  > * {
    position: relative;
    overflow-y: auto;
    padding: 5px;
  }
  section {
    grid-area: mc;
  }
}

#pnlSearch {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  /*grid-area: mr;*/
  background: whitesmoke;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  div.input-group {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
  }

  #searchResults {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100% - 50px);
    /*overflow-y: auto;*/
    border-top: 2px inset slategrey;
    border-left: 2px inset slategrey;

    div.poke-dex-result {
      position: relative;
      display: block;
      height: 50px;
      font-size: 14px;

      [class*='icon-sprite'] {
        position: relative;
        display: inline-block;
      }

      span {
        position: relative;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        font-weight: 600;
        margin-left: 36px;
      }

      span::first-letter {
        text-transform: uppercase;
      }

      span[data-id]::after {
        content: '#' attr(data-id);
        position: absolute;
        display: block;
        top: 0px;
        left: -36px;
        text-align: right;
      }
    }

    div.poke-dex-result:hover {
      background-color: #A45ACD !important;
      cursor: pointer;
    }
  }

  button[data-target='#pnlSearch'] {
    position: relative;
    display: none;
    width: 100%;
    height: 50px;
  }
}
#pnlFavorites {
  grid-area: ul;
  border-top: 2px inset slategrey;
  border-right: 2px inset slategrey;
  border-bottom: 2px inset slategrey;

  div {
    position: relative;
    display: block;
    height: 50px;
    font-size: 14px;

    img {
      position: relative;
      display: inline-block;
    }

    span {
      position: relative;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      font-weight: 600;
      margin-left: 36px;
    }

    span::first-letter {
      text-transform: uppercase;
    }

    span[data-id]::after {
      content: '#' attr(data-id);
      position: absolute;
      display: block;
      top: 0px;
      left: -36px;
      text-align: right;
    }
  }

  div:hover {
    background-color: #A45ACD;
    cursor: pointer;
  }
}
#pnlCompares {
  grid-area: ml;
  border-right: 2px inset slategrey;
  border-top: 2px inset slategrey;

  div {
    position: relative;
    display: block;
    height: 50px;
    font-size: 14px;

    [class*='icon-sprite'] {
      position: relative;
      display: inline-block;
    }

    span {
      position: relative;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      font-weight: 600;
      margin-left: 36px;
    }

    span::first-letter {
      text-transform: uppercase;
    }

    span[data-id]::after {
      content: '#' attr(data-id);
      position: absolute;
      display: block;
      top: 0px;
      left: -36px;
      text-align: right;
    }

    a.close {
      position: absolute;
      display: block;
      top: 0px;
      right: 0px;
      width: 16px;
      height: 16px;
    }

    a.close::after {
      content: 'X';
      color: silver;
    }

    a.close:hover::after {
      color: black;
    }
  }
}
#pnlCompares::before{
  content:'';
  position:absolute;
  display: block;
  width: 90%;
  height: 0px;
  left: 5%;
  top: -5px;
  border-top: 1px solid silver;
}
#btnCompare {
  grid-area: ll;
  width: 100%;
  height: 50px;
  bottom: 0px;
}
#pokeComparison {
  width: 60vmin;
  height: 60vmin;
  margin-left: auto;
  margin-right: auto;
}
// Medium devices (tablets, 768px and up)
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) { /* 576px) {*/
  @asideWidth: 50px;

  main {
    grid-template-columns: @asideWidth ~"calc(100% - @{asideWidth})";

    #pnlCompares {
      div[data-poke-id] {
        span {
          display: none;
        }
      }
    }


    /*#pnlSearch.active {
      grid-area: mc;
      z-index: 5;

      .input-group {
        display: block;
      }

      #searchResults {
        height: ~"calc(100% - 100px)";

        div.poke-dex-result {
          span {
            display: inline-block;
          }
        }
      }

      button[data-target='#pnlSearch'] i::before {
        content: '\f138'
      }
    }*/

    #pnlFavorites {

      div {
        span {
          display: none;
        }
      }

    }

    /*footer {
      background-color: #222;
      color: whitesmoke;
      font-size: 7px;
    }*/
  }
  #pnlSearch {
    height: 100%;

    .input-group {
      display: none !important;
    }

    #searchResults {
      height: ~"calc(100% - 50px)";
      overflow: auto;

      div.poke-dex-result {
        span {
          display: none;
        }
      }
    }

    button[data-target='#pnlSearch'] {
      display: block;
      bottom: 0px;
    }
  }

  #pnlSearch.active {
    grid-area: initial;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 10000;
    overflow: auto;

    .input-group {
      display: block !important;
      z-index: 10000;
    }

    #searchResults {
      height: ~"calc(100% - 100px)";
      z-index: 10000;

      div.poke-dex-result {
        z-index: 10000;
        background: whitesmoke;

        span {
          display: inline-block;
        }
      }
    }

    button[data-target='#pnlSearch'] {
      z-index: 10000;
    }

    button[data-target='#pnlSearch'] i::before {
      content: '\f138'
    }
  }
  #pnlSearch.active::before{
    content: '';
    position: fixed;
    display: block;
    z-index: 9000;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.65);
  }
}