/*
    300px    ~"calc(100vw      300px
            - (300px * 2))"
_______________________________________
|          |               |          | 

+----------+---------------+----------+  --
|          |               |          |   |
|   ul     |               |          |   |
|          |               |          |   | ~"calc((100vh - (65px * 2)) / 2)
|          |               |          |   |
+----------+               +          |  --
|          |               |          |   |
| aside #1 |    section    | aside #2 |   |
|   ml     |      mc       |   mr     |   | ~"calc((100vh - (65px * 2)) / 2)
|          |               |          |   |
+----------+---------------+          +  --
|   ll     | footer        |   lr     |   |
|          |   fc          |          |   | 65px
+-------------------------------------+----------+  --
*/
@asideWidth: 300px;
@navbarHeight: 0px;
main {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "ul mc" "ml mc" "ll lcr";
  grid-template-columns: @asideWidth ~"calc(100% - @{asideWidth})";
  grid-template-rows: 1fr 1fr 50px;
  grid-gap: 0px;

  > * {
    position: relative;
    overflow-y: auto;
    padding: 5px;
  }
  section {
    grid-area: mc;
  }
}

#pokeComparison {
  width: 60vmin;
  height: 60vmin;
  margin-left: auto;
  margin-right: auto;
}
// Medium devices (tablets, 768px and up)
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) { /* 576px) {*/
}