/*
    300px    ~"calc(100vw      300px
            - (300px * 2))"
_______________________________________
|          |               |          | 

+----------+---------------+----------+  --
|          |               |          |   |
|   ul     |               |          |   |
|          |               |          |   | ~"calc((100vh - (65px * 2)) / 2)
|          |               |          |   |
+----------+               +          |  --
|          |               |          |   |
| aside #1 |    section    | aside #2 |   |
|   ml     |      mc       |   mr     |   | ~"calc((100vh - (65px * 2)) / 2)
|          |               |          |   |
+----------+---------------+          +  --
|   ll     | footer        |   lr     |   |
|          |   fc          |          |   | 65px
+-------------------------------------+----------+  --
*/
@asideWidth: 300px;
@navbarHeight: 0px;
main {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "ul mc" "ml mc" "ll lcr";
  grid-template-columns: @asideWidth ~"calc(100% - @{asideWidth})";
  grid-template-rows: 1fr 1fr 50px;
  grid-gap: 0px;

  > * {
    position: relative;
    overflow-y: auto;
    padding: 5px;
  }
  section {
    grid-area: mc;
  }
}

#pnlFavorites {
  grid-area: ul;
  border-top: 2px inset slategrey;
  border-right: 2px inset slategrey;
  border-bottom: 2px inset slategrey;

  div {
    position: relative;
    display: block;
    height: 50px;
    font-size: 14px;

    img {
      position: relative;
      display: inline-block;
    }

    span {
      position: relative;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      font-weight: 600;
      margin-left: 36px;
    }

    span::first-letter {
      text-transform: uppercase;
    }

    span[data-id]::after {
      content: '#' attr(data-id);
      position: absolute;
      display: block;
      top: 0px;
      left: -36px;
      text-align: right;
    }
  }

  div:hover {
    background-color: #A45ACD;
    cursor: pointer;
  }
}
#pnlCompares {
  grid-area: ml;
  border-right: 2px inset slategrey;
  border-top: 2px inset slategrey;

  div {
    position: relative;
    display: block;
    height: 50px;
    font-size: 14px;

    [class*='icon-sprite'] {
      position: relative;
      display: inline-block;
    }

    span {
      position: relative;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      font-weight: 600;
      margin-left: 36px;
    }

    span::first-letter {
      text-transform: uppercase;
    }

    span[data-id]::after {
      content: '#' attr(data-id);
      position: absolute;
      display: block;
      top: 0px;
      left: -36px;
      text-align: right;
    }

    a.close {
      position: absolute;
      display: block;
      top: 0px;
      right: 0px;
      width: 16px;
      height: 16px;
    }

    a.close::after {
      content: 'X';
      color: silver;
    }

    a.close:hover::after {
      color: black;
    }
  }
}
#pnlCompares::before{
  content:'';
  position:absolute;
  display: block;
  width: 90%;
  height: 0px;
  left: 5%;
  top: -5px;
  border-top: 1px solid silver;
}
#btnCompare {
  grid-area: ll;
  width: 100%;
  height: 50px;
  bottom: 0px;
}
#pokeComparison {
  width: 60vmin;
  height: 60vmin;
  margin-left: auto;
  margin-right: auto;
}
// Medium devices (tablets, 768px and up)
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) { /* 576px) {*/
  @asideWidth: 50px;

  main {
    grid-template-columns: @asideWidth ~"calc(100% - @{asideWidth})";

    #pnlCompares {
      div[data-poke-id] {
        span {
          display: none;
        }
      }
    }
    
    #pnlFavorites {

      div {
        span {
          display: none;
        }
      }

    }
  }
}