@loaderSize: 72px;
@vp_desktop:    801px;
@vp_tablet:     800px;
@vp_mobile:     400px;

.OnDesktop(@rules) { @media screen and (min-width:@vp_desktop){ @rules(); } };
.OnTablet(@rules) { @media screen and (max-width:@vp_tablet){ @rules(); } };
.OnMobile(@rules) { @media screen and (max-width:@vp_mobile){ @rules(); } };
.poke-loader {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10001;
  top: 0px;
  left: 0px;
}

.poke-loader::after {
  content: "";
  position: absolute;
  display: block;
  width: @loaderSize;
  height: @loaderSize;
  top: ~"calc(50% - (@{loaderSize} / 2))";
  left: ~"calc(50% - (@{loaderSize} / 2))";
  background-image: ~"url('/PokeApi/sprites/items/poke-ball.png')";
  background-size: @loaderSize @loaderSize;
  -webkit-animation: poke-ball-shake 1.25s infinite alternate;
  /* Chrome, Safari, Opera */
  animation: poke-ball-shake 1.25s infinite alternate;
  transform-origin: center;
}

.poke-loader.show {
  display: block;
}
/*
  a = (((3*HPmax - 2*HPcurrent)*pokemonRate*bonusBall)/(3*HPmax)) * (bonusStatus)
  {a = (((3*100 - 2*100)*255*255)/(3*100))*1 = 21,675 }
  b = (2^(16) - 1) * (root4(a / (2^(8) - 1)))
  {b = (2^(16) - 1) * (root4(21,675 / (2^(8) - 1))) = 0.00125544473844901282312232851618 }
  if (b > Rnd(0,65535)){
    Shake()
  }
*/
@keyframes poke-ball-shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }

  20% {
    transform: translate(0, 0) rotate(-10deg);
  }

  30% {
    transform: translate(0, 0) rotate(10deg);
  }

  50% {
    transform: translate(0, 0) rotate(-10deg);
  }

  60% {
    transform: translate(0, 0) rotate(10deg);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes poke-float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

[data-species-color='black'] {
  --speciesColor: black;
}

[data-species-color='blue'] {
  --speciesColor: blue;
}

[data-species-color='brown'] {
  --speciesColor: brown;
}

[data-species-color='gray'] {
  --speciesColor: gray;
}

[data-species-color='green'] {
  --speciesColor: green;
}

[data-species-color='pink'] {
  --speciesColor: pink;
}

[data-species-color='purple'] {
  --speciesColor: purple;
}

[data-species-color='red'] {
  --speciesColor: red;
}

[data-species-color='white'] {
  --speciesColor: silver;
}

[data-species-color='yellow'] {
  --speciesColor: yellow;
}

@imgSize: 96px;
@iconSize: 48px;
@cardWidth: calc(@imgSize + (@imgSize / 2));

.poke-card {
  position: relative;
  display: block;

  .chain {
    position: relative;
    display: grid;
    grid-template-areas: "chainFrom chain chainTo";
    /*grid-auto-columns: 1fr;*/
    grid-template-columns: 1fr calc(96px + (96px / 2) + 20px) 1fr;
    width: 100%;
    height: 175px;

    @chain-branch: {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 175px;
      overflow: auto;
    }
    @chain-item: {
      position: relative;
      display: block;
      width: 100%;
      height: @iconSize;
      margin-top: 5px;

      .chain-target{
        position: relative;
        display: inline-block;
        width: @iconSize;
        height: @iconSize;
        float: left;

        &::before {
          content: '';
          position:absolute;
          display: block;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background: silver;
          border: none;
          border-radius: 50%;
          opacity: 0.65;
        }
        &:hover::after{
          content: attr(data-poke-name);
          position: relative;
          display: block;
          text-align: center;
          top: 30%;


          &:first-letter{
            text-transform: uppercase;
          }
        }

        [class*='icon-sprite-']{
          position: relative;
          display: block;
          top: ~"calc(50% - 20px)";
          margin-left: auto;
          margin-right: auto;
        }
      }
      .chain-reason{
        position: relative;
        display: inline-block;
        top: 0px;
        width: ~"calc(100% - @{iconSize})";
        height: @iconSize;
        font-size: 14px;
        overflow: auto;
      }
      @media (max-width: 768px) {/*Hide on Mobile*/
        .chain-reason{
          display: none;
        }
      }
    }
    .chain-from {
      grid-area: chainFrom;

      @chain-branch();

      .chain-item{
        @chain-item();
      }
    }

    .details.biota.zoology {
      position:relative;
      display: block;
      width: calc(@imgSize + (@imgSize / 2));
      height: 160px;
      /*left: ~"calc(50% - (@{cardWidth} / 2))";*/
      margin-left:auto;
      margin-right:auto;
      grid-area: chain;
      border: 3px solid var(--speciesColor);
      border-radius: 5px;
      box-shadow: 3px 2px 2px var(--speciesColor);

      button.poke-favorite {
        position: absolute;
        display: block;
        font-size: 16px;
        font-weight: 500;
        top: 0.25em;
        right: 0.25em;
        cursor: pointer;
        background: none;
        border: none;
        z-index: 3;
      }

      button.poke-favorite:hover {
        text-shadow: 2px 2px 2px slategrey;
      }

      button.poke-favorite::before, button.poke-favorite.saved:hover::before {
        content: "\f097"; /*\f02e*/
        font-family: "FontAwesome";
      }

      button.poke-favorite.saved::before, button.poke-favorite:not(.saved):hover::before {
        content: "\f02e";
        color: lightgreen;
        color: var(--speciesColor);
      }

      .family {
        display: none;
      }

      .sprite {
        img {
          position: relative;
          display: block;
          width: @imgSize;
          height: @imgSize;
          object-fit: contain;
          margin-left: auto;
          margin-right: auto;
          animation: poke-float 6s ease-in-out infinite;
          z-index: 2; /* Put above text */
        }
      }

      .sprite::before, .sprite::after {
        content: '';
        position: absolute;
        display: block;
        opacity: 0.25;
        border-radius: 50%;
      }

      .sprite::before {
        width: ~"calc(@{imgSize} * 0.85)";
        height: ~"calc(@{imgSize} * 0.75)";
        left: ~"calc(50% - ((@{imgSize} * 0.85)/2))";
        top: 5px;
        background-color: silver;
      }

      .sprite::after {
        width: 75%;
        height: 75%;
        left: 12.5%;
        top: 12.5%;
        background-color: var(--speciesColor);
        transform-origin: center;
        transform: rotateX(85deg);
      }

      [name='id'] {
        position: absolute;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        top: 0.5em;
        left: 1em;
        text-shadow: 2px 2px 1px whitesmoke;
      }

      [name='id']::before {
        content: '#';
        position: absolute;
        display: block;
        top: 0px;
        left: -0.75em;
      }

      .binomial {
        position: relative;
        display: block;
        width: @cardWidth;
        margin-top: 0px;
        left: ~"calc(50% - (@{cardWidth} / 2))";

        .species {
          position: relative;
          display: inline-block;
          width: 100%;
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          margin: 0px;
        }

        .genus {
          position: relative;
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }
    }

    .chain-to {
      grid-area: chainTo;
      @chain-branch();
      .chain-item{
        @chain-item();
      }
      /*right: ~"calc(25% - (@{imgSize} / 2))";*/
    }
  }


  .poke-tools {
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    .poke-tools-options {
      position: relative;
      display: block;
      width: 150px;
      height: 35px;
      top: 0px;
      left: ~"calc(50% - (150px / 2))";
      border: 2px solid var(--speciesColor);

      button {
        position: relative;
        display: inline-block;
        background: silver;
      }

      button.active {
        background: #CFF0FB;
      }
    }

    .poke-tools-container {
      div {
        position: relative;
        display: none;
      }

      div.active {
        display: block;
      }
    }
  }

  ul.poke-evolutions {
    li {
      list-style: none;
    }
  }

  .poke-stats {
    canvas {
      position: relative;
      display: block;
      width: 100%;
      max-width: 600px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* Sprite Sheet Source: https://www.deviantart.com/wesleyfg/art/Pokemon-Sun-and-Moon-All-Icon-644722700 ../../../images/icon_spritesheet.png*/
.icon-sprite (@url; @cols; @i;) when (@i > 0) {
  @x: (mod((@i - 1), @cols) * 40) ;
  @y: (floor((@i - 1) / @cols) * 30);

  .icon-sprite-@{i} {
    background: @url no-repeat (@x * -1px) (@y * -1px);
  }

  .icon-sprite(@url;@cols;(@i - 1););
}
[class*='icon-sprite-'] {
  width: 40px;
  height: 30px;
}

.icon-sprite(url('/images/icon_spritesheet.png'), 25, 802);

.icon-not-found(@url; @i;) when(@i > 0){
  .icon-sprite-202-{

  }
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */

[class*='icon-cart-xl-'] {
  width: 256px;
  height: 256px;
  display: inline-block;
  background: url('../../images/Game Covers/Pokemon/Cover Sheet_256.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.icon-cart-xl-alpha-saphire {
  background-position: -0px -0px;
}

.icon-cart-xl-black-2 {
  background-position: -256px -0px;
}

.icon-cart-xl-black {
  background-position: -512px -0px;
}

.icon-cart-xl-blue {
  background-position: -768px -0px;
}

.icon-cart-xl-crystal {
  background-position: -1024px -0px;
}

.icon-cart-xl-diamond {
  background-position: -0px -256px;
}

.icon-cart-xl-emerald {
  background-position: -256px -256px;
}

.icon-cart-xl-fire-red {
  background-position: -512px -256px;
}

.icon-cart-xl-gold {
  background-position: -768px -256px;
}

.icon-cart-xl-heart-gold {
  background-position: -1024px -256px;
}

.icon-cart-xl-leaf-green {
  background-position: -0px -512px;
}

.icon-cart-xl-moon {
  background-position: -256px -512px;
}

.icon-cart-xl-omega-ruby {
  background-position: -512px -512px;
}

.icon-cart-xl-pearl {
  background-position: -768px -512px;
}

.icon-cart-xl-platinum {
  background-position: -1024px -512px;
}

.icon-cart-xl-red {
  background-position: -0px -768px;
}

.icon-cart-xl-ruby {
  background-position: -256px -768px;
}

.icon-cart-xl-saphire {
  background-position: -512px -768px;
}

.icon-cart-xl-silver {
  background-position: -768px -768px;
}

.icon-cart-xl-soul-silver {
  background-position: -1024px -768px;
}

.icon-cart-xl-sun {
  background-position: -0px -1024px;
}

.icon-cart-xl-ultra-moon {
  background-position: -256px -1024px;
}

.icon-cart-xl-ultra-sun {
  background-position: -512px -1024px;
}

.icon-cart-xl-white-2 {
  background-position: -768px -1024px;
}

.icon-cart-xl-white {
  background-position: -1024px -1024px;
}

.icon-cart-xl-x {
  background-position: -0px -1280px;
}

.icon-cart-xl-y {
  background-position: -256px -1280px;
}

.icon-cart-xl-yellow {
  background-position: -512px -1280px;
}
/* Generated by http://css.spritegen.com CSS Sprite Generator */

[class*='icon-cart-lg-'] {
  display: inline-block;
  background: url('../../images/Game Covers/Pokemon/Cover Sheet_96.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  width: 96px;
  height: 96px;
}

.icon-cart-lg-alpha-saphire {
  background-position: -0px -0px;
}

.icon-cart-lg-black-2 {
  background-position: -96px -0px;
}

.icon-cart-lg-black {
  background-position: -192px -0px;
}

.icon-cart-lg-blue {
  background-position: -288px -0px;
}

.icon-cart-lg-crystal {
  background-position: -384px -0px;
}

.icon-cart-lg-diamond {
  background-position: -0px -96px;
}

.icon-cart-lg-emerald {
  background-position: -96px -96px;
}

.icon-cart-lg-fire-red {
  background-position: -192px -96px;
}

.icon-cart-lg-gold {
  background-position: -288px -96px;
}

.icon-cart-lg-heart-gold {
  background-position: -384px -96px;
}

.icon-cart-lg-leaf-green {
  background-position: -0px -192px;
}

.icon-cart-lg-moon {
  background-position: -96px -192px;
}

.icon-cart-lg-omega-ruby {
  background-position: -192px -192px;
}

.icon-cart-lg-pearl {
  background-position: -288px -192px;
}

.icon-cart-lg-platinum {
  background-position: -384px -192px;
}

.icon-cart-lg-red {
  background-position: -0px -288px;
}

.icon-cart-lg-ruby {
  background-position: -96px -288px;
}

.icon-cart-lg-saphire {
  background-position: -192px -288px;
}

.icon-cart-lg-silver {
  background-position: -288px -288px;
}

.icon-cart-lg-soul-silver {
  background-position: -384px -288px;
}

.icon-cart-lg-sun {
  background-position: -0px -384px;
}

.icon-cart-lg-ultra-moon {
  background-position: -96px -384px;
}

.icon-cart-lg-ultra-sun {
  background-position: -192px -384px;
}

.icon-cart-lg-white-2 {
  background-position: -288px -384px;
}

.icon-cart-lg-white {
  background-position: -384px -384px;
}

.icon-cart-lg-x {
  background-position: -0px -480px;
}

.icon-cart-lg-y {
  background-position: -96px -480px;
}

.icon-cart-lg-yellow {
  background-position: -192px -480px;
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */

[class*='icon-cart-md-'] {
  display: inline-block;
  background: url('../../images/Game Covers/Pokemon/Cover Sheet_48.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  width: 48px;
  height: 48px;
}

.icon-cart-md-alpha-saphire {
  background-position: -0px -0px;
}

.icon-cart-md-black-2 {
  background-position: -48px -0px;
}

.icon-cart-md-black {
  background-position: -96px -0px;
}

.icon-cart-md-blue {
  background-position: -144px -0px;
}

.icon-cart-md-crystal {
  background-position: -192px -0px;
}

.icon-cart-md-diamond {
  background-position: -0px -48px;
}

.icon-cart-md-emerald {
  background-position: -48px -48px;
}

.icon-cart-md-fire-red {
  background-position: -96px -48px;
}

.icon-cart-md-gold {
  background-position: -144px -48px;
}

.icon-cart-md-heart-gold {
  background-position: -192px -48px;
}

.icon-cart-md-leaf-green {
  background-position: -0px -96px;
}

.icon-cart-md-moon {
  background-position: -48px -96px;
}

.icon-cart-md-omega-ruby {
  background-position: -96px -96px;
}

.icon-cart-md-pearl {
  background-position: -144px -96px;
}

.icon-cart-md-platinum {
  background-position: -192px -96px;
}

.icon-cart-md-red {
  background-position: -0px -144px;
}

.icon-cart-md-ruby {
  background-position: -48px -144px;
}

.icon-cart-md-saphire {
  background-position: -96px -144px;
}

.icon-cart-md-silver {
  background-position: -144px -144px;
}
.icon-cart-md-soul-silver {
  background-position: -192px -144px;
}

.icon-cart-md-sun {
  background-position: -0px -192px;
}

.icon-cart-md-ultra-moon {
  background-position: -48px -192px;
}

.icon-cart-md-ultra-sun {
  background-position: -96px -192px;
}

.icon-cart-md-white-2 {
  background-position: -144px -192px;
}

.icon-cart-md-white {
  background-position: -192px -192px;
}

.icon-cart-md-x {
  background-position: -0px -240px;
}

.icon-cart-md-y {
  background-position: -48px -240px;
}

.icon-cart-md-yellow {
  background-position: -96px -240px;
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */

[class*='icon-cart-sm-'] {
  display: inline-block;
  background: url('../../images/Game Covers/Pokemon/Cover Sheet_32.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  width: 32px;
  height: 32px;
}

.icon-cart-sm-alpha-saphire {
  background-position: -0px -0px;
}

.icon-cart-sm-black-2 {
  background-position: -32px -0px;
}

.icon-cart-sm-black {
  background-position: -64px -0px;
}

.icon-cart-sm-blue {
  background-position: -96px -0px;
}

.icon-cart-sm-crystal {
  background-position: -128px -0px;
}

.icon-cart-sm-diamond {
  background-position: -0px -32px;
}

.icon-cart-sm-emerald {
  background-position: -32px -32px;
}

.icon-cart-sm-fire-red {
  background-position: -64px -32px;
}

.icon-cart-sm-gold {
  background-position: -96px -32px;
}

.icon-cart-sm-heart-gold {
  background-position: -128px -32px;
}

.icon-cart-sm-leaf-green {
  background-position: -0px -64px;
}

.icon-cart-sm-moon {
  background-position: -32px -64px;
}

.icon-cart-sm-omega-ruby {
  background-position: -64px -64px;
}

.icon-cart-sm-pearl {
  background-position: -96px -64px;
}

.icon-cart-sm-platinum {
  background-position: -128px -64px;
}

.icon-cart-sm-red {
  background-position: -0px -96px;
}

.icon-cart-sm-ruby {
  background-position: -32px -96px;
}

.icon-cart-sm-saphire {
  background-position: -64px -96px;
}

.icon-cart-sm-silver {
  background-position: -96px -96px;
}

.icon-cart-sm-soul-silver {
  background-position: -128px -96px;
}

.icon-cart-sm-sun {
  background-position: -0px -128px;
}

.icon-cart-sm-ultra-moon {
  background-position: -32px -128px;
}

.icon-cart-sm-ultra-sun {
  background-position: -64px -128px;
}

.icon-cart-sm-white-2 {
  background-position: -96px -128px;
}

.icon-cart-sm-white {
  background-position: -128px -128px;
}

.icon-cart-sm-x {
  background-position: -0px -160px;
}

.icon-cart-sm-y {
  background-position: -32px -160px;
}

.icon-cart-sm-yellow {
  background-position: -64px -160px;
}