
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='Author', content='LightWorks')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#474544')
    meta(name='Description', content='Dedicated to providing tools for gameplay.')
    meta(name='Keywords', content='video game, utilities, games, tools, tool, utility')
    link(rel='icon' href='/images/android/android-launchericon-96-96.png')
    link(rel='manifest', href='/manifest.json')
    //link(rel='preload', href='/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0', as='font', crossorigin)
    //link(rel='preload', href='/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0', as='font', crossorigin)
    //link(rel='preload', href='/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0', as='font', crossorigin)
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    title= title + ' - Utilities.Games'
    style(type='text/css')
      include ../public/bundles/site.min.css
    
    style(type='text/css').
    block styles

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src="https://www.googletagmanager.com/gtag/js?id=UA-126967798-1")

    script(type='text/javascript', language='javascript').
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-126967798-1');
        
    script(type='text/javascript', async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script(type='text/javascript').
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8454900075856294",
        enable_page_level_ads: true
      });
  body
    nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-lg
      .container
        a.navbar-brand(href='/')
          .logo.logo-hue-120
            .dpad
              .pad
                .dpad-ul
                .dpad-u
                .dpad-ur
                .dpad-l
                .dpad-c
                  i.fa.fa-wrench
                .dpad-r
                .dpad-dl
                .dpad-d
                .dpad-dr
            h1 Utilities.Games
        //a.navbar-brand(href='/') Utilties.Games
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle Navigation
          span.navbar-toggler-icon
        div.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/about') About
            li.nav-item
              a.nav-link(href='/contact') Contact
            li#liA2HS.nav-item
              a#btnA2HS(href='javascript:showAddToHomeScreen();', style='color: #9fd49e;', title='Add to Homescreen')
                picture
                  source(srcset='/images/PWA%20Launch_108x32.webp',type='image/webp')
                  source(srcset='/images/PWA%20Launch_108x32.png',type='image/png')
                  img.img-fluid(src='/images/PWA%20Launch_108x32.png',alt='PWA')
                //i.fa.fa-download Download
                            
    aside
        block ads

    main
        block content
    
    nav
      block subNav

    footer
      .container
        a(href='/privacy') Privacy Policy
      block footer

    script(type='text/javascript')
      include ../public/bundles/site.min.js
    //script(language='javascript', type='text/javascript', src='/bundles/site.min.js')

    block scripts