extends _sitelayout

block append content
  h1 About Utilities.Games
  section
    h2 Objective
    p Utilities.Games intends to provide a network of sites, each providing a series of gameplay tools and information. We recognize there are a lot of useful tutorial sites and content creators out there. Our focus is on interactive utilities and calculators that take into account either your current progress or other conditions. We hope that these tools can be used to create better tutorials and online content.
    p We thrive on user-input! If you find yourself stuck on a puzzle, dungeon, or level-grinding consider recommending a tool that helps identify ways of best utilizing your time/resources.
    h2 Background
    p The Utilities.Games network started as a side-project for the developers to hone their web development skills and branch-out into unfamiliar territory. From the very beginning, it's been important to provide cross-platform compatibility, so our sites strive to utilize the power of Progressive Web Apps (PWA). By leveraging PWA as our foundation, it allows our users to use our tools on desktops, tablets, and phones. Secondarily, we try our best to serve our sites with offline alternatives. For those who live in poor or no internet locations, our sites can be installed (as PWA) locally to their device.
  section
    h2 Attributions
    p Here is a list of extremely helpful resources that contributed to the development of this site:
    ul.tiles
      li
        a(href="https://pokeapi.co/")
          picture
            source(srcset='/images/external/pokeapi.webp', type='image/webp')
            source(srcset='/images/external/pokeapi.png', type='image/png')
            img(src='/images/external/pokeapi.png', alt='PokeAPI').img-fluid
          span Pok&#0232;API
      li
        a(href="http://www.pokestadium.com/tools/sprites")
          picture
            source(srcset='/images/external/pokestadium.webp', type='image/webp')
            source(srcset='/images/external/pokestadium.png', type='image/png')
            img(src='/images/external/pokestadium.png', alt='POKESTADIUM').img-fluid
          span POKESTADIUM
      li
        a(href="https://www.pwabuilder.com/imageGenerator")
          picture
            source(srcset='/images/external/pwabuilder.webp', type='image/webp')
            source(srcset='/images/external/pwabuilder.png', type='image/png')
            img(src='/images/external/pwabuilder.png', alt='PWA Builder').img-fluid
          span PWA Builder
      li
        a(href="https://www.getpaint.net/")
          picture
            source(srcset='/images/external/paint.net.webp', type='image/webp')
            source(srcset='/images/external/paint.net.png', type='image/png')
            img(src='/images/external/paint.net.png', alt='Paint.NET').img-fluid
          span Paint.NET
      li
        a(href="https://www.wordpress.com/")
          picture
            source(srcset='/images/external/wordpress.webp', type='image/webp')
            source(srcset='/images/external/wordpress.png', type='image/png')
            img(src='/images/external/wordpress.png', alt='WordPress').img-fluid
          span WordPress
      li
        a(href="https://nodejs.org/en/")
          picture
            source(srcset='/images/external/node.js.webp', type='image/webp')
            source(srcset='/images/external/node.js.png', type='image/png')
            img(src='/images/external/node.js.png', alt='Node.JS').img-fluid
          span Node.JS
      li
        a(href="https://github.com/")
          picture
            source(srcset='/images/external/github.webp', type='image/webp')
            source(srcset='/images/external/github.png', type='image/png')
            img(src='/images/external/github.png', alt='GitHub').img-fluid
          span GitHub