extends _sitelayout

block append content
  h1 Contact Us
  section
    p We're still working out the details of our contact methods. So, for now, please utilize our GitHub Issues page for getting ahold of us.
    a(href='https://github.com/tbm0115/PokemonUtilities/issues/new') Click Here to Submit a new Issue