extends layout

block append content
    div.poke-loader
    div#pnlFavorites
    div#pnlCompares
    button#btnCompare(type='button')

        i.fa.fa-pie-chart

    main
        div#root
            div.panel.panel-default
                div.panel-heading National Pok&#0232;dex
                div.panel-body
                    div#pokeContainer
                        div.poke-card#activePokemon
        div.modal.fade#modCompareChart(tabindex='-1', role='dialog', aria-labelledby='modCompareChart-label')
            div.modal-dialog.modal-lg(role='document')
                div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title#modCompareChart-label Comparison Chart
                    div.modal-body
                        canvas#pokeComparison This Browser does not support HTML5 Canvas!
                    div.modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
    aside#pnlSearch
        div.input-group
            input.form-control#txtSearchDex(role='search', placeholder='Search National \'Dex', type='search', onkeyup='filterDex();', onblur='filterDex();')
        div#searchResults
        button(type='button', data-target='#pnlSearch', onclick='document.querySelector("#pnlSearch").classList.toggle("active");')
            i.fa.fa-chevron-circle-left