extends _sitelayout

block append content
    h1 Welcome to Utilities.Games!
    p Look to this network for any video game tools you need. Check back frequently for included games and tools. Here's a look at our existing games and tools:
    ul
        li
            a(href='/pokemon',title='PokeTools') Pok&#0232;Tools
            span : Tools for classic Pok&#0232mon games.
            ul
                li Reference information on Evolutions and Base Statistics
                li Compare Base Stats of multiple Pok&#0232;mon!
