extends _sitelayout

block append styles
  style(type='text/css').
    #divSections{
      background: linear-gradient(rgba(255,255,255, 0.6), transparent);
    }
    #quickLink{
      list-style: none;
      padding: 3px;
      margin: 0px;
    }
    #quickLink li{
      position: relative;
      display: block;
      transition: all 0.36s ease;
    }
    #quickLink li:hover{
      border: 1px solid rgba(100, 100, 100);
      border-radius: 3px;
      background: whitesmoke;
    }
    #quickLink li a{
      position: relative;
      display: block;
      width: 100%;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      text-decoration: none;
      color: #1d2129;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    #quickLink li a::after{
      content: attr(href);

    }
    #newsContainer{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow: hidden;
      overflow-x: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    ul.tiles > li > a > picture{
      filter: sepia(0.8);
    }
  //link(rel='stylesheet', href='/stylesheets/Articles.min.css?v=1.1')
  // You can use Open Graph tags to customize link previews. Learn more: https://developers.facebook.com/docs/sharing/webmasters
  meta(property="og:url",           content="https://utilities.games/")
  meta(property="og:type",          content="website")
  meta(property="og:title",         content=title)
  meta(property="og:description"    content="Dedicated to providing tools for gameplay.")
  meta(property="og:image",         content="https://utilities.games/images/ios/ios-appicon-1024-1024.png")

block append scripts
  script(type='text/javascript').
    var rssFeed = !{JSON.stringify(rss)};
    function processRSS(data){
      //console.log("RSS Feed: ", data);
      $("#newsContainer").html("");
      var nc = $("#newsContainer")[0];
      for(var len = rssFeed.items.length,n=0;n<len;n++){
        var item = rssFeed.items[n];

        var temp = $("template#article")[0];
        var clon = temp.content.cloneNode(true);
        nc.appendChild(clon);
        //clon.setAttribute("id", "nc" + n.toString());

        var $clon = $("#newsContainer").find(".article-card:last-of-type");

        if (item.content.indexOf("<img") >= 0 && item.content.indexOf("<img") < 10){
          //Within the first few characters
          var src = item.content.substr(item.content.indexOf("src=\"") + 5);
          src = src.substr(0, src.indexOf('"'));
          $clon.find(".card-image img").attr("src", src);
          $clon.find(".card-image img").attr("alt", item.title);
          item.content = item.content.replace(/<img[^>]*>/g, "");
        }

        $clon.find(".card-share-options .fb-share-button").attr("href", "https://www.facebook.com/sharer/sharer.php?app_id=302718756988342&sdk=joey&u=" + item.link + "&display=popup&ref=plugin&src=share_button");

        if (item.categories.length > 0){
          $clon.find(".card-header a").remove();
          for(var c = item.categories.length - 1;c>=0;c--){
            var cat = item.categories[c];
            var a = document.createElement("a");
            a.setAttribute("href", rssFeed.link + "/tag/" + item.categories[c].replace(/ /g, '-').toLowerCase() + "/");
            a.innerText = c > 0 ? ", " + cat.substr(0,1).toUpperCase() + cat.substr(1) : cat;
            $clon.find(".card-header").prepend(a);
          }
        }else{
          $clon.find(".card-header a").text(rssFeed.title);
        }

        $clon.find(".card-header time").text((new Date(item.pubDate)).toDateString());

        $clon.find("article h2 a").attr("href", item.link);
        $clon.find("article h2 a").text(item.title);
        $clon.find("article p").html(item.content);

        $clon.find(".card-footer a").attr("href", rssFeed.link + "?s=" + item.creator);
        $clon.find(".card-footer a").text(item.creator);

      }
    }
    $(document).ready(function(){
      // Get RSS from blog
      processRSS();
      $("#newsContainer").on("click", ".card-share > a", function(e){
        e.preventDefault();
        $(this).parent().find("div").toggleClass("active");
        $(this).parent().toggleClass("share-expanded");
      });
    });
block append content
  // Load Facebook SDK for JavaScript
  <div id="fb-root"></div>
  script(type='text/javascript').
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=302718756988342";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  template#article
    .article-card
      .card-image
        img(alt="Article Image", src="/images/ios/ios-appicon-180-180.png")
      .card-content
        .card-share
          .card-share-options
            a.share-icon.facebook.fb-share-button(href="javascript:void(0)", aria-label='Share on Facebook', role='link', data-href="", data-layout="button",onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')")
              i.fa.fa-facebook
          a.share-toggle.share-icon(href="javascript:void(0);", aria-label='Open share options', role='button')
        .card-header
          a(href="javascript:void(0);", aria-label='View articles under this tag', role='link')
          time
        article
          h2
            a(href="javascript:void(0);", aria-label='View this article', role='link')
          p
        .card-footer
          span By 
            a(href="javascript:void(0);", aria-label='View articles by this author', role='link')
          
  .jumbotron
    h1 Welcome to Utilities.Games!
    p Utilities.Games is a network dedicated to providing gamers with tools to maximize their skills. Check out our existing sites and tools. If you don't see one, please let us know on our <a rel='noopener' href='https://www.facebook.com/utilities.games/' target='_blank' aria-label='View our Facebook Page' role='link'>Facebook page</a>.
    div.fb-share-button(data-href="https://utilities.games", data-layout="button", data-size="small", data-mobile-iframe="false")
      a.fb-xfbml-parse-ignore(target="_blank", rel='noopener', aria-label='Share on Facebook', role='link', href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Futilities.games%2F&amp;src=sdkpreparse") Share

  #divSections
    section
      h2
        i.fa.fa-sitemap
        a(name='Sites', role='navigation') Sites
      ul.tiles#subSites
        li
          a(href='/pokemon', aria-label='View Pokemon sub-site', role='link')
            picture
              source(srcset='/Pokemon/images/PokeTools_100.webp', type='image/webp')
              source(srcset='/Pokemon/images/PokeTools_100.png', type='image/png')
              img(src='/Pokemon/images/PokeTools_100.png', alt='PokeTools').img-fluid
            span Pok&#0232;Tools
        li
          a(href='#')
            picture
              source(srcset='/images/compiling_100.webp', type='image/webp')
              source(srcset='/images/compiling_100.png', type='image/png')
              img(src='/images/compiling_100.png', alt='More Coming Soon')
            span More Coming Soon
    hr
    section
      h2 
        i.fa.fa-wrench
        a(name='Latest Tools', role='navigation') Latest Tools
      #newToolsContainer
        ul.tiles
          li
            a(href='/pokemon/progress', aria-label='View Pokemon Progress tool', role='link')
              picture
                source(data-attribution='http://getdrawings.com/pokemon-ball-drawing#pokemon-ball-drawing-61.png')
                source(srcset='/Pokemon/images/Pokeball%20Progression_100.webp', type='image/webp')
                source(srcset='/Pokemon/images/Pokeball%20Progression_100.png', type='image/png')
                img(src='/Pokemon/images/Pokeball%20Progression_100.png', alt='Compare Stats').img-fluid
              span Pok&#0232;mon Game Progress Tracker
          li
            a(href='/pokemon/compare/stats', aria-label='View Pokemon Comparison tool', role='link')
              picture
                source(srcset='/Pokemon/images/ComparisonChart_100.webp', type='image/webp')
                source(srcset='/Pokemon/images/ComparisonChart_100.png', type='image/png')
                img(src='/Pokemon/images/ComparisonChart_100.png', alt='Pokemon Comparison Chart').img-fluid
              span Pok&#0232;mon Base Stat Comparison
    hr
    section
      h2 
        i.fas.fa-newspaper
        a(name='News', href='//blog.utilities.games/') News
          i.fa.fa-open
      #newsContainer
        .text-muted No new articles
block append subNav
  ul#quickLink
    li
      a(href='#Sites', aria-label='Jump to Sites section', role='navigation')
        i.fa.fa-sitemap
    li
      a(href='#Latest Tools', aria-label='Jump to Latest Tools section', role='navigation')
        i.fa.fa-wrench
    li
      a(href='#News', aria-label='Jump to News section', role='navigation')
        i.fas.fa-newspaper